<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>drtv</key>
		<dict>
			<key>TestURLs</key>
			<array>
				<string>http://www.dr.dk/nu-mobil/api/videos/skilsmisser-uegnet-for-boern-3?platform=iphoneg</string>
			</array>
			<key>URLPatterns</key>
			<array>
				<string>http://www.dr.dk/nu-mobil/api/videos/.*</string>
			</array>
		</dict>
        <key>drtv-live</key>
		<dict>
			<key>TestURLs</key>
			<array>
				<string>http://dr02-lh.akamaihd.net/i/dr02_0@147055/master.m3u8</string>
			</array>
			<key>URLPatterns</key>
			<array>
				<string>http://dr.*-lh.akamaihd.net/i/dr.*@.*/master.m3u8</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
